extends layout

block content
  h1 #{title}: #{bookInstance._id}

  p #[strong Title:]
    a(href=bookInstance.book.url) #{bookInstance.book.title}
  p #[strong Imprint:] #{bookInstance.imprint}

  p #[strong Status:]
    if bookInstance.status==='Available'
      span.text-success #{bookInstance.status}
    else if bookInstance.status==='Maintenance'
      span.text-danger #{bookInstance.status}
    else
      span.text-warning #{bookInstance.status}

  if bookInstance.status!=='Available'
    p #[strong Due back:] #{bookInstance.due_back_formatted}

  p Do you really want to delete this BookInstance?

  form(method='POST' action='')
    div.form-group
      input#bookInstanceId.form-control(type='hidden',name='bookinstanceid', required='true', value=bookInstance._id )

    button.btn.btn-primary(type='submit') Delete
